@model VidHub.Models.MovieInfo

@{
    ViewBag.Title = "MovieInfo";
}

<h2>Watch @Model.Title</h2>

<div class="row">
    <div class="col-sm-2">
        <img src="@Url.Content(@Model.PosterPath)" alt="IMAGES" class="custom-image-size custom-image-cell" data-html="true" data-toggle="custom-tooltip" data-placement="right" />
    </div>
</div>
@*For Some reason this block below does not work. IT throws "The Role Manager feature has not been enabled."*@
@*@if (Roles.IsUserInRole("Administrators"))
    {
        <button class="btn btn-info" onclick="location.href = '@Url.Action("EditMovie", "Movie", new { @MovieTitle = Model.Title })'">Edit</button>
    }*@
@if (@User.IsInRole("Administrators"))
{
    <div class="row">
        <button class="btn btn-info" onclick="location.href = '@Url.Action("EditMovie", "Movie", new { @MovieTitle = Model.Title })'">
            Edit
        </button>
    </div>
}
 

<div class="row"> 
        <p>Descriptions: </p>
        @Model.Descriptions
</div>

<div class="row">
    <span>Genre: </span>
    @foreach (var genre in @Model.Genres)
    {
        if (genre.GenreDesc.Length > 0)
        {
            <span class="list-inline custom-person-name">
                @genre.GenreDesc
            </span>
            <span>
                &nbsp &nbsp
            </span>
        }
    }
</div>


<div class="row"> 
        <span>Director: </span>
        @foreach (var director in @Model.Directors)
        {
            if(director.FullName.Length>0)
            {
                <span class="list-inline custom-person-name">
                    @director.FullName
                </span>
                <span>
                    &nbsp &nbsp
                </span>
            }

        }
</div>
<div class="row">
        <span>Actors: </span>
        @foreach (var cast in @Model.CastMembers)
        {
            if (cast.FullName.Length > 0)
            {
                <span class="list-inline custom-person-name">
                    @cast.FullName
                </span>
                <span>
                    &nbsp &nbsp
                </span>
            }
        }
</div> 
<table class="table-striped" > 
    <tr>
        @{
            int counter = 0;
            int itemPerRow = 3;
            foreach (var ml in @Model.MovieLinkInfo)
            {

                @*Cannot use anchor tag in tr element but it can be used in td*@
                if (counter % itemPerRow == 0)
                {
                    @Html.Raw("<tr>");
                    @Html.Raw("</tr>");            

                }
                <td style="padding:50px">
                    <div class="custom-rounded-corner-cell">
                        <a href="@Url.Content(@ml.MovieLink)" target="_blank"><img src="~/Images/PlayIcon.jpg" class="custom-play-icon" /> @ml.SouceWebsite</a>
                    </div>
                    <div class="btn-group-sm" style="text-align:center">
                        <button type="button" class="btn btn-default" style="width:45%"><span class="glyphicon glyphicon-thumbs-up"></span> @ml.UpVote</button>
                        <button type="button" class="btn btn-default" style="width:45%"><span class="glyphicon glyphicon-thumbs-down"></span> @ml.DownVote</button>
                    </div>
                </td>
                counter++;
            }
        }
    </tr> 


 
</table>
